@model Core.Domain.Form.ChildsParticularsViewModel


<section class="">
    <div role="tabpanel" class="tab-pane" id="tab3">
        <div class="form-row">
            <div class="col-12 form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 col-sm-4 form-group">
                <label asp-for="Citizenship"></label>
                <select asp-for="Citizenship" asp-items="@Model.CitizenshipList" class="form-control select-area" >
                </select>
                <span asp-validation-for="Citizenship" class="text-danger"></span>
                
            </div>
            <div class="col-12 col-sm-4 form-group">
                <label asp-for="Race"></label>
                <select asp-for="Race" asp-items="@Model.RaceList" class="form-control select-area" >
                </select>
                <span asp-validation-for="Race" class="text-danger"></span>
                
            </div>
           
        </div>
        <div class="form-row">
            <div class="col-12 form-group">
                <label asp-for="BirthCertNo"></label>
                <input asp-for="BirthCertNo" class="form-control" />
                <span asp-validation-for="BirthCertNo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 col-sm-6 form-group">
                <label asp-for="DOB"></label>
                <input asp-for="DOB" class="form-control DOBDateField" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="col-12 col-sm-6 form-group">
                <label asp-for="Gender"></label>
                <select asp-for="Gender" asp-items="@Model.GenderList" class="form-control select-area">
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
        </div>
        @*<div class="btns text-center">
                <a href="#tab4" class="btn btn-orange btn-continue" data-next="4">Continue</a>
            </div>*@
    </div>
</section>