@model Core.Domain.Form.GeneralInformationViewModel

<section class="">
    <div role="tabpanel" class="tab-pane fade show active" id="tab1">
        <div class="form-row">
            <div class="col-12 col-sm-6 form-group">
                <label asp-for="Area"></label>
                <select asp-for="Area" asp-items="@Model.AreaList" class="form-control select-area" data-validation="required">
                </select>
                <span asp-validation-for="Area" class="text-danger"></span>

            </div>
            <div class="col-12 col-sm-6 form-group">
                <label asp-for="District"></label>
                <select asp-for="District" asp-items="@Model.DistrictList" class="form-control select-area" required="">
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 form-group">
                <label asp-for="PreSchool"></label>
                <select asp-for="PreSchool" asp-items="@Model.PreSchoolList" class="form-control select-area" required="">
                </select>

            </div>
        </div>
        <div class="form-row">
            <div class="col-12 col-sm-6 form-group">
                <label asp-for="Programme"></label>
                <select asp-for="Programme" asp-items="@Model.ProgrammeList" class="form-control select-area" required="">
                </select>
            </div>
            <div class="col-12 col-sm-6 form-group">
                <label asp-for="StartPeriod"></label>
                <input asp-for="StartPeriod" class="form-control DateField " />

            </div>
        </div>
        <input type="hidden" asp-for="Id" />
        @*<div class="btns text-center">
            <a href="#tab2" class="btn btn-orange btn-continue" data-next="2">Continue</a>
        </div>*@
    </div>
</section>