<section class="">
    <div role="tabpanel" class="tab-pane" id="tab4">
        <p>I. We will contact you when there is an available vacancy at your preferred pre-school, one nearby is available, and/or update you in relation to our childcare services, including but not limited to pre-school curriculum, programmes, invitation to open houses and events via emails, text messages and phone calls.</p>
        <p>II. Please note that we will only retain your interest in our database for 12 months from your date of registration.</p>
        <hr class="my-4">
        <label class="acklabel"><input type="checkbox" id="acknowledge"> <strong><a >*</a> I acknowledge that I have read and agree to the above Terms and Conditions.</strong></label>
        <label class="acklabel"><input type="checkbox" id="agree1"> <strong>You agree to receive information sent by Kool Explorer, our affiliated companies and partners to update you in relation to childcare and related services, including but not limited to new products, services and promotions via emails, text messages and phone calls.</strong></label>
    </div>
    
</section>