<section class="">
    <div role="tabpanel" class="tab-pane" id="tab4">
        <p>I. We will contact you when there is an available vacancy at your preferred pre-school, one nearby is available, and/or update you in relation to our childcare services, including but not limited to pre-school curriculum, programmes, invitation to open houses and events via emails, text messages and phone calls.</p>
        <p>II. Please note that we will only retain your interest in our database for 12 months from your date of registration.</p>
        <hr class="my-4">
        <label class="acklabel"><input type="checkbox" name="checkall" value="checkall"> <strong>Click here to check all</strong></label><br>
        <label class="acklabel"><input type="checkbox" name="acknowledge" class="acknowledge" value="Yes"> <strong><a href="#moreInfo">*</a> I acknowledge that I have read and agree to the above Terms and Conditions.</strong></label>
        <label class="error" for="acknowledge" style="display:none; margin-top:-15px; margin-bottom:15px;">Please acknowledge that you have read and agree to the Terms &amp; Conditions.</label>
        <label class="acklabel"><input type="checkbox" class="agree1" name="agree1" value="Yes"> <strong>You agree to receive information sent by Kool Explorer, our affiliated companies and partners to update you in relation to childcare and related services, including but not limited to new products, services and promotions via emails, text messages and phone calls.</strong></label>
        @*<div class="btns text-center">
                <button type="button" class="btn btn-orange btn-finish">Continue</button>
            </div>*@
    </div>
    <div class="modal fade" id="registerAgree" tabindex="-1" role="dialog" aria-labelledby="registerAgree" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-center"><strong>Don’t miss out on receiving exciting offers and parenting tips from us!</strong></p>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-black btn-skip" data-toggle="modal" data-dismiss="modal">Skip</button>
                    <button type="button" class="btn btn-orange btn-keen" data-toggle="modal" data-dismiss="modal">Yes, I am keen</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="termsAgree" tabindex="-1" role="dialog" aria-labelledby="termsAgree" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-center"><strong>Please acknowledge that you have read and agree to the Terms &amp; Conditions.</strong></p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-orange btn-ok" data-toggle="modal" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</section>