@page
@model KoolExplorer.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}





<div class="page-container ">
    <h1>@ViewData["Title"]</h1>
</div>
<br />


<div class="fill">
    <div class="who-row">
        <h3>Who we are?</h3>
        <p>Kool Explorer serves as a one-stop portal for understanding the early childhood education system in Singapore, and for parents with children below the age of 7, to apply for a pre-school.</p>
        <p>Established in 2021, Kool Explorer aims to provide comprehensive and meaningful Singapore’s pre-school information for parents. It helps kick-start a parent’s journey to understanding what they can expect and look out for their children when searching for a suitable education curriculum.</p>
    </div>
    <div class="about-row">
        <div>
            <h3>Our Mission</h3>
            <p>To empower parents to have ease of accessing and understanding of pre-school information in Singapore.</p>
        </div>
        <br />
        <div>
            <h3>Vision</h3>
            <p>To provide a fast and fuss-free process to search and register for a Singapore pre-school.</p>
        </div>
    </div>
</div>




<style>
    .fill {
        border: 2px solid black;
        padding: 25px;
        /*background: url("img/about_us.jpeg");*/
        background-color: #c47d12;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>