@page
@model KoolExplorer.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}
<!--Start of Page Area-->
<div class="page-container">
    <h1>@ViewData["Title"]</h1>
</div>
<br />
<!--End of Page Area-->
<!--Start of About Area-->
<!--Start of 'Who are we?' Row-->
<div class="who-row">
    <h3>Who we are?</h3>
    <p>Kool Explorer serves as a one-stop portal for understanding the early childhood education system in Singapore, and for parents with children below the age of 7, to apply for a pre-school.</p>
    <p>Established in 2021, Kool Explorer aims to provide comprehensive and meaningful Singapore’s pre-school information for parents. It helps kick-start a parent’s journey to understanding what they can expect and look out for their children when searching for a suitable education curriculum.</p>
</div>
<br />
<!--End of 'Who are we?' Row-->
<!--Start of Mission & Vision Row-->
<div class="about-row">
    <div>
        <h3>Our Mission</h3>
        <p>To empower parents to have ease of accessing and understanding of pre-school information in Singapore.</p>
    </div>
    <br />
    <div>
        <h3>Vision</h3>
        <p>To provide a fast and fuss-free process to search and register for a Singapore pre-school.</p>
    </div>
</div>
<!--End of Mission & Vision Row-->
<!--End of About Area-->
