@page
@model KoolExplorer.Pages.AppFormModel
@{
    ViewData["Title"] = "Application Form";
}
<h1>@ViewData["Title"]</h1>


<link href="~/js/plugins/wizard/steps.css" rel="stylesheet" />

<div class="container container-narrow notranslate">
    <hr style="margin:50px 0;">
    <div class="text-center mb-5">
        <h2 class="pb-0">Childcare/Infant Care Programme</h2>
        <p>Please note that the preferred enrolment date should not exceed 12 months from the date of registration.</p>
    </div>
    <form class="validation-wizard wizard-circle" novalidate="novalidate">
        <ul class="nav nav-tabs register-tabs" role="tablist">
            <li class="nav-item"> <a class="nav-link active" href="#tab1" role="tab" data-toggle="tab"> <em>Step 1 </em><strong>General Information</strong> </a> </li>
            <li class="nav-item"> <a class="nav-link disable" href="#tab2" role="tab" data-toggle="tab"> <em>Step 2 </em><strong>Parents' Particulars</strong> </a> </li>
            <li class="nav-item"> <a class="nav-link disable" href="#tab3" role="tab" data-toggle="tab"> <em>Step 3 </em><strong>Child's Particulars</strong> </a> </li>
            <li class="nav-item"> <a class="nav-link disable" href="#tab4" role="tab" data-toggle="tab"> <em>Step 4 </em><strong>Term &amp; Conditions</strong> </a> </li>
        </ul>
        <div class="tab-content register-tab-content aos-init aos-animate" data-aos="fade-left" data-aos-duration="500">
            <div role="tabpanel" class="tab-pane fade show active" id="tab1">
                <div class="form-row">
                    <div class="col-12 col-sm-6 form-group">
                        <select id="zoneId" class="form-control select-area" required="">
                            <option value="">* Please select area</option>
                            <option value="3">West</option>
                            <option value="4">Central</option>
                            <option value="5">East</option>
                            <option value="6">North</option>
                            <option value="7">North East</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-6 form-group">
                        <select id="distinct" class="form-control select-disctinct" required=""> <option value="">* Please select district</option> </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 form-group">
                        <select id="preSchool" name="schoolId" class="form-control select-location" required="">
                            <option value="">* Please select pre-school</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-sm-6 form-group">
                        <select id="program" name="programmeId" class="form-control " required="">
                            <option value="">* All Programme</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-6 form-group">
                        <select id="programmeTime" name="programmeTime" class="form-control" required="">
                            <option value="">* Programme Time</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-sm-6 form-group">
                        <select name="startYear" class="form-control select-startyear" required=""> <option value="">* Intended Start Year</option> <option value="2021">2021</option><option value="2022">2022</option></select>
                    </div>
                    <div class="col-12 col-sm-6 form-group">
                        <select name="startMonth" class="form-control select-startmonth" required=""> <option value="">* Intended Start Month</option> </select>
                    </div>
                </div>
                <div class="btns text-center">
                    <a href="#tab2" class="btn btn-orange btn-continue" data-next="2">Continue</a>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab2">
                <p>Please provide at least <span class="text-red">1 parent/guardian's particular</span>.</p>
                <div class="form-row">
                    <div class="col-12 form-group">
                        <input name="parent1" type="text" class="form-control" placeholder="* Parent/Guardian 1" required="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-sm-4 form-group">
                        <input name="parent1NRIC" type="text" class="form-control" placeholder="* Parent/Guardian's Passport No./NRIC" required="">
                    </div>
                    <div class="col-12 col-sm-4 form-group">
                        <input name="parent1Mobile" type="text" class="form-control" placeholder="* Parent/Guardian 1's Mobile No." required="">
                    </div>
                    <div class="col-12 col-sm-4 form-group">
                        <input name="parent1Email" type="email" class="form-control" placeholder="* Parent/Guardian 1's Email" required="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 form-group">
                        <input name="parent2" type="text" class="form-control" placeholder="Parent/Guardian 2">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-sm-4 form-group">
                        <input name="parent2NRIC" type="text" class="form-control" placeholder="Parent/Guardian's Passport No./NRIC">
                    </div>
                    <div class="col-12 col-sm-4 form-group">
                        <input name="parent2Mobile" type="text" class="form-control" placeholder="Parent/Guardian 2's Mobile No.">
                    </div>
                    <div class="col-12 col-sm-4 form-group">
                        <input name="parent2Email" type="text" class="form-control" placeholder="Parent/Guardian 2's Email">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-sm-6 form-group">
                        <input name="homeTel" type="text" class="form-control" placeholder="* Home Tel No." required="">
                    </div>
                    <div class="col-12 col-sm-6 form-group">
                        <input name="street" type="text" class="form-control" placeholder="* Street Name" required="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-sm-4 form-group">
                        <input name="block" type="text" class="form-control" placeholder="* Block No." required="">
                    </div>
                    <div class="col-12 col-sm-4 form-group">
                        <input name="floor" type="text" class="form-control" placeholder="Floor No.">
                    </div>
                    <div class="col-12 col-sm-4 form-group">
                        <input name="unit" type="text" class="form-control" placeholder="Unit No.">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 form-group">
                        <input name="buildingName" type="text" class="form-control" placeholder="Building Name">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-sm-6 form-group">
                        <input name="postalCode" type="text" class="form-control" placeholder="* Postal Code" required="">
                    </div>
                    <div class="col-12 col-sm-6 form-group">
                        <select name="income" class="form-control" required=""> <option value="">* Household Income</option> <option value="$2500 &amp; below">$2500 &amp; below</option> <option value="$2501 - $3000">$2501 - $3000</option> <option value="$3001 - $3500">$3001 - $3500</option> <option value="$3501 - $4000">$3501 - $4000</option> <option value="$4001 - $4500">$4001 - $4500</option> <option value="$4501 - $7500">$4501 - $7500</option> <option value="$7501 - $10,000">$7501 - $10,000</option> <option value="$10,001 to $12,500">$10,001 to $12,500</option> <option value="$12,501 to $15,000">$12,501 to $15,000</option> <option value="$15,001 &amp; Above">$15,001 &amp; Above</option> </select>
                    </div>
                </div>
                <div class="btns text-center">
                    <a href="#tab3" class="btn btn-orange btn-continue" data-next="3">Continue</a>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab3">
                <div class="form-row">
                    <div class="col-12 form-group">
                        <input name="childName" type="text" class="form-control" placeholder="* Name of Child (as in BC)" required="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-sm-4 form-group">
                        <select name="childCitizenship" class="form-control" required=""> <option value="">* Child Citizenship</option> <option value="Citizen">Citizen</option> <option value="PR">PR</option> <option value="Foreigner">Foreigner</option> </select>
                    </div>
                    <div class="col-12 col-sm-4 form-group">
                        <select name="childRace" class="form-control" required=""> <option value="">* Race</option> <option value="C">Chinese</option> <option value="I">Indian</option> <option value="M">Malay</option> <option value="O">Others, Please specify</option> </select>
                    </div>
                    <div class="col-12 col-sm-4 form-group">
                        <input name="childOtherRace" type="text" class="form-control" placeholder="Other Race" style="display: none;">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 form-group">
                        <input name="childBirthCert" type="text" class="form-control" placeholder="* Birth Cert Number" required="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-sm-6 form-group">
                        <input name="childBirthDate" readonly="readonly" type="text" class="form-control datepicker hasDatepicker" placeholder="* Date of Birth" required="" style="background:#f6f6f6" id="dp1614587600786">
                    </div>
                    <div class="col-12 col-sm-6 form-group">
                        <select name="childGender" class="form-control" required=""> <option value="">* Gender</option> <option value="Male">Male</option> <option value="Female">Female</option> </select>
                    </div>
                </div>
                <div class="btns text-center">
                    <a href="#tab4" class="btn btn-orange btn-continue" data-next="4">Continue</a>
                </div>
            </div>

            <style>
                .acklabel {
                    position: relative;
                    padding-left: 20px;
                    margin-bottom: 20px
                }

                    .acklabel input[type="checkbox"] {
                        position: absolute;
                        top: 5px;
                        left: 0
                    }

                    .acklabel a {
                        text-decoration: none
                    }

                        .acklabel a:hover {
                            text-decoration: underline
                        }
            </style>
            <div role="tabpanel" class="tab-pane fade" id="tab4">
                <p>I. We will contact you when there is an available vacancy at your preferred pre-school, one nearby is available, and/or update you in relation to our childcare services, including but not limited to pre-school curriculum, programmes, invitation to open houses and events via emails, text messages and phone calls.</p>
                <p>II. Please note that we will only retain your interest in our database for 12 months from your date of registration.</p>
                <hr class="my-4">
                <label class="acklabel"><input type="checkbox" name="checkall" value="checkall"> <strong>Click here to check all</strong></label><br>
                <label class="acklabel"><input type="checkbox" name="acknowledge" class="acknowledge" value="Yes"> <strong><a href="#moreInfo">*</a> I acknowledge that I have read and agree to the above Terms and Conditions.</strong></label>
                <label class="error" for="acknowledge" style="display:none; margin-top:-15px; margin-bottom:15px;">Please acknowledge that you have read and agree to the Terms &amp; Conditions.</label>
                <label class="acklabel"><input type="checkbox" class="agree1" name="agree1" value="Yes"> <strong>You agree to receive information sent by Kool Explorer, our affiliated companies and partners to update you in relation to childcare and related services, including but not limited to new products, services and promotions via emails, text messages and phone calls.</strong></label>
                <div class="btns text-center">
                    <button type="button" class="btn btn-orange btn-finish">Continue</button>
                </div>
            </div>

            <div class="modal fade" id="registerAgree" tabindex="-1" role="dialog" aria-labelledby="registerAgree" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="text-center"><strong>Don’t miss out on receiving exciting offers and parenting tips from us!</strong></p>
                        </div>
                        <div class="modal-footer d-flex justify-content-between">
                            <button type="button" class="btn btn-black btn-skip" data-toggle="modal" data-dismiss="modal">Skip</button>
                            <button type="button" class="btn btn-orange btn-keen" data-toggle="modal" data-dismiss="modal">Yes, I am keen</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="termsAgree" tabindex="-1" role="dialog" aria-labelledby="termsAgree" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="text-center"><strong>Please acknowledge that you have read and agree to the Terms &amp; Conditions.</strong></p>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-orange btn-ok" data-toggle="modal" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{

    <script type="text/javascript">$(function () { $('input[name="childOtherRace"]').hide(); $('select[name="childRace"]').on('change', function () { if (this.value == $('select[name="childRace"] option:last-child').val()) { $('input[name="childOtherRace"]').fadeIn(); } else { $('input[name="childOtherRace"]').fadeOut(); } }); });</script>
    <script type="text/javascript">$("input[name='checkall']").click(function () { $('#tab5 input:checkbox').not(this).prop('checked', this.checked); }); $('#tab5 input:checkbox').not("input[name='checkall']").change(function () { if ($("#tab5 input:checkbox:not([name='checkall']):checked").length < 3) { $(".checkbox-tools").animate({ top: '200px' }); $("input[name='checkall']").prop("checked", false); } }); $(document).on('click', '.acklabel a[href^="#"]', function (event) { event.preventDefault(); $('html, body').animate({ scrollTop: $($.attr(this, 'href')).offset().top - $(".navbar").outerHeight() - 30 }, 500); });</script>



}