@page
@model KoolExplorer.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Us";
}
<!--Start of Page Area-->
<div class="page-container">
    <h1>@ViewData["Title"]</h1>
</div>


<br />
<!--Start of Information Row-->
<div class="info-row">
    <div class="info-box" id="HotlineNumImage">
        <p style="margin-top: 30px;font-weight: bold;">Hotline Number:</p>
        <p style="font-weight: bold;">+65-6421-7000</p>
    </div>
    <div class="info-box" id="EmailImage">
        <p style="color: white; margin-top: 70px;font-weight: bold;">
            koolexplorer123@gmail.com
        </p>
    </div>
    <div class="info-box" id="AddressImage">
        <p style="color: white; margin-top: 30px;font-weight: bold;">
            Address:
        </p>
        <p style="color: white; font-weight: bold;">
           50 Nanyang Ave, Singapore 639798
        </p>
    </div>
   
    @*<img src="~/img/ContactUs/street.jpeg"/>*@
</div>

<div id="googleMap"></div>






<style>
    #HotlineNumImage {
        background:url("/img/ContactUs/phone.jpg");
        background-position: center;
        height: 150px;
        background-size: cover;
    }
    #EmailImage {
        background: url("/img/ContactUs/email.jpeg");
        background-position: center;
        height: 150px;
        background-size: cover;
    }
    #AddressImage {
        background: url("/img/ContactUs/street.jpeg");
        background-position: center;
        height: 150px;
        background-size: cover;
    }
    #googleMap {
        background: url("/img/ContactUs/map.PNG");
        background-position: center;
        height: 500px;
        background-size: cover;
    }
</style>