@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <!-- vertical-menu-area start -->
    <div class="vertical">
        <div class="main-menu left_top">
            <table id="vertical-menu">
                <tr>
                    <td>
                        <a href="AppForm.cshtml"> APPLICATION FORM</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a> ACCEPT OFFER </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a> USEFUL LINKS </a>
                    </td>
                </tr>
            </table>
        </div>
        <!-- vertical-menu-area end -->

    <div class="text-center">
        <h1 class="display-4">Welcome SS</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>Here is a new line lalalalalala</p>
    </div>
