@page
@model KoolExplorer.Pages.SearchPageModel
@{ }

<script type="text/javascript">var proList = ["West", "Central", "East", "North", "North East"];
    var allCityList = [
        ["Clementi", "Bukit Batok", "Bukit Panjang", "Choa Chu Kang", "Jurong", "Yew Tee"],
        ["Bukit Merah", "Bishan", "Chin Swee", "Geylang", "Holland", "Kallang", "Marine Parade", "Mountbatten", "Potong Pasir", "Tanjong Pagar", "Telok Blangah", "Toa Payoh", "Whampoa", "Macpherson", "Tiong Bahru"],
        ["Bedok", "Pasir Ris", "Simei", "Tampines"],
        ["Woodlands", "Canberra", "Sembawang", "Yishun"],
        ["Sengkang", "Ang Mo Kio", "Hougang", "Punggol", "Serangoon"]
    ];
    function f1() {
        var pro = document.getElementById("province");
        pro.length = proList.length + 1;
        for (var i = 1; i < pro.length; i++) {
            pro[i].innerHTML = proList[i - 1];
            pro[i].value = i;
        }
    }
    function f2() {
        var city = document.getElementById("city");
        var pro = document.getElementById("province");
        city.value = 0;
        var cityList = allCityList[pro.value - 1];
        city.length = cityList.length + 1;
        for (var i = 1; i < city.length; i++) {
            city[i].innerText = cityList[i - 1];
            city[i].value = i;
        }
    }</script>
<body>
    <div th:replace="commons/bar::#topbar"></div>
    <div class="container-fluid">
        <div class="row">
            <main role="main">
                <h1>Pre-Schools</h1>

                <div class="form-row">
                    <div class="form-group">
                        <div class="areaSearch">
                            <span class="zoneSearch">
                                Search by Area:
                                <select name="province" id="province" onfocus="f1()" onchange="f2()">
                                    <option value="0">*Select Area</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="areaSearch">
                            <span class="districtSearch">
                                Search by District:
                                <select name="city" id="city">
                                    <option value="0">*Select District</option>
                                </select>
                            </span>
                            <button type="button" class="btn btn-success" style="margin-left:100px">Search</button>
                        </div>

                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table- table_list_font table-hover table-condensed">
                        <thead class="thead-dark">
                            <tr>
                                <th>Center Name</th>
                                <th>Center Address</th>
                                <th>Contact Number</th>
                                <th>Website</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="" th:text="1​​​​​​​​">1</th>
                                <td class="" th:text="2">2</td>
                                <td class="" th:text="3">3</td>
                                <td class="" th:text="4​​​​​​​​">4</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>

</body>