@page
@model KoolExplorer.Pages.SearchPageModel
@{
}

<body>
    <div th:replace="commons/bar::#topbar"></div>
    <div class="container-fluid">
        <div class="row">
            <main role="main">
                <h1>Pre-Schools</h1>

                <div class="form-row">
                    <div class="form-group">
                        <div class="areaSearch">
                            <span class="zoneSearch">
                                Search by Area:
                                <select required="">
                                    <option value="">* Please select area</option>
                                    <option value="1">West</option>
                                    <option value="2">Central</option>
                                    <option value="3">East</option>
                                    <option value="4">North</option>
                                    <option value="5">North East</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="areaSearch">
                            <span class="districtSearch">
                                Search by District:
                                <select required="">
                                    <option value="">* Please select district</option>
                                    <option value="101">Clementi </option>
                                    <option value="102">Bukit Batok </option>
                                    <option value="103">Bukit Panjang </option>
                                    <option value="104">Choa Chu Kang </option>
                                    <option value="105">Jurong </option>
                                    <option value="106">Yew Tee </option>
                                    <option value="201">Bukit Merah </option>
                                    <option value="202">Bishan </option>
                                    <option value="203">Chin Swee </option>
                                    <option value="204">Geylang </option>
                                    <option value="205">Holland </option>
                                    <option value="206">Kallang </option>
                                    <option value="207">Marine Parade </option>
                                    <option value="208">Mountbatten </option>
                                    <option value="209">Potong Pasir </option>
                                    <option value="210">Tanjong Pagar </option>
                                    <option value="211">Telok Blangah </option>
                                    <option value="212">Toa Payoh </option>
                                    <option value="213">Whampoa </option>
                                    <option value="214">Strathmore </option>
                                    <option value="215">Macpherson </option>
                                    <option value="216">Tiong Bahru </option>
                                    <option value="301">Bedok </option>
                                    <option value="302">Pasir Ris </option>
                                    <option value="303">Simei </option>
                                    <option value="304">Tampines </option>
                                    <option value="401">Woodlands </option>
                                    <option value="402">Canberra </option>
                                    <option value="403">Sembawang </option>
                                    <option value="404">Yishun </option>
                                    <option value="501">Sengkang </option>
                                    <option value="502">Ang Mo Kio </option>
                                    <option value="503">Hougang </option>
                                    <option value="504">Punggol </option>
                                    <option value="505">Serangoon </option>
                                </select>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table- table_list_font table-hover table-condensed">
                        <thead class="thead-dark">
                            <tr>
                                <th>Center Name</th>
                                <th>Center Address</th>
                                <th>Contact Number</th>
                                <th>Website</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="" th:text="1​​​​​​​​"></th>
                                <td class="" th:text="2"></td>
                                <td class="" th:text="3"></td>
                                <td class="" th:text="4​​​​​​​​"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>

</body>
