@page
@model HomeModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to KoolExplorer</h1>
    <p>Your One-Stop Portal for Singapore Early Childhood Education</p>
</div>


<div id="mainDiv">
    <div id="bigDiv" class="row placeholders">
        <div>
            <h1 class="num">@Model.TotalSchools</h1>
            <div style="width:300px;float:left">
                <h3>Pre-School Centers</h3>
            </div>
        </div>
        <div id="centerDiv">
            <h1 class="num">@Model.TotalSubmissions</h1>
            <h3>Application Submission(s)</h3>
        </div>
        <div id="leftDiv">
            <h1 class="num">@Model.TotalAcceptances</h1>
            <h3>Application Acceptance(s)</h3>
        </div>
    </div>
</div>