@page
@model HomeModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to KoolExplorer</h1>
    <p>Your One-Stop Portal for Singapore Early Childhood Education</p>
</div>
